<h1><%= @articles.title %></h1>
<%= link_to 'âœï¸', edit_article_path %>
<%= link_to "ðŸ—‘",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure you son of a bitch?" } %>
<p class='content'><%= @articles.content %></p>

<%= link_to 'Back to List', articles_path %>
